/* .first{
    background-color: yellowgreen;
}
.second{
    background-color: brown;
} */

/* h1,p{
    color: blue;
} */
*{
    margin: 0;
    padding: 0;
}
.color{
    background-color: rgb(16, 14, 14);
    height: 200px;
    width: 200px;
        
}